extends ./layout.pug

block content
  div#products.normal.wide.center.light
    h1.center Products
    div.flex-container
      div.flex-item
        button.clean#butWom(onClick="setType('Wom');") Woman
      div.flex-item
        button.clean#butMan(onClick="setType('Man');") Man
      div.flex-item
        button.clean#butAcc(onClick="setType('Acc');") Accessories
    div.productBox.flex-container#pbWom
      each photo in photos.Woman
        div.flex-item.productPhoto
          img(src="/staticRev/images/Wom_" + photo + "_500.jpg" alt=photo)
      each photo in photos.Uni
        div.flex-item.productPhoto
          img(src="/staticRev/images/Uni_" + photo + "_500.jpg" alt=photo)
    div.productBox.flex-container#pbMan
      each photo in photos.Man
        div.flex-item.productPhoto
          img(src="/staticRev/images/Man_" + photo + "_500.jpg" alt=photo)
      each photo in photos.Uni
        div.flex-item.productPhoto
          img(src="/staticRev/images/Uni_" + photo + "_500.jpg" alt=photo)
    div.productBox.flex-container#pbAcc
      each photo in photos.Acc
        div.flex-item.productPhoto
          img(src="/staticRev/images/Acc_" + photo + "_500.jpg" alt=photo)


  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript" src="/staticRev/javascripts/products.js")
